*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    margin-left: 1em;
}

table{
    border-spacing: 0;
}

#img-wind{
    height: 93vh;
    background-color: black;
}

#img-cards{
    height: 92.04vh;
    width: 100%;
    padding: 3% 9.5% 3% 9.5%;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
    gap: 10px;
    overflow: scroll hidden;
}

#tools-bar{
    height: 7vh;
    background-color: rgb(35,39,42);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    z-index: 999999;
}

#sp-view{
    color: white;
    padding-left: 90%;
    padding-top: 10px;
}

#sp-view span{
   margin: 10px;
}

.debug{
    border: 1px solid black;
}

.sp-cont{
    background-color: grey;
    padding: 5px;
    border-radius: 5px;
}

.card{
    position: relative;
    height: 200px;
}

.user{
    position: absolute;
    bottom: 1px;
    left: 0px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
}

.mute{
    flex-basis: 10%;
    display: flex;
    color: white;
}

.invite{
    flex-basis: 40%;
    display: flex;
    color:  white;
}



.end{
    flex-basis: 7%;
    background-color: grey;
    color: red;
    padding: 1.6% 1% 1% 1.5%;
}



.mute-b{
    flex-basis: 45%;
    text-align: center;
    padding-top: 1%;
    position: relative;
    
}

#tools-bar i{
    font-size: 300%;
}

.video-b{
    flex-basis: 55%;
    position: relative;
    text-align: center;
    padding-top: 1%;
}

.block{
    display: block;
}

.mute-w{
    margin-right: 6%;
    margin-top: 4%;
}

.icon-s{
    position: absolute;
    right: 1%;
    top: 40%;
    rotate: 270deg;
}

.invite .fa-share-from-square{
    color: green;
}

#manage{
    flex-basis: 70%;
}

#breakout{
    flex-basis: 70%;
}